:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr:#181818;
  --ltClr:whitesmoke;
  --accClr: #0d0d35;
  --buttonBG: Red;
  --startBG: green;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  background-color: var(--dkClr);
  color: var(--ltClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header,footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px, 20px;
}

#gameCanvas{
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

#level-display{
  align-self: center;
  font-size: 50px;
}

#restart-button {
  background-color: var(--ltClr);
  color: var(--dkClr);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px auto;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

#restart-button:hover {
  background-color: var(--buttonBG);
  color: var(--ltClr);
}

main{
  flex: 1;
}

#display-icon{
  width: 500px;
  height: 500px;
  margin: auto auto;
  display: block;
}

#home-button{
  background-color: var(--ltClr);
  color: var(--dkClr);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px auto;
  display: block;
  text-align: center;
  transition: background-color 0.3s ease;
}

#home-button:hover {
  background-color: var(--startBG);
  color: var(--ltClr);
}

#player-name {
  font-size: 25px;
  padding: 10px;
  width: 210px;
  border: 2px solid #333;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
#player-name:focus {
  border-color: #007BFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}
label {
  font-size: 20px;
  color: #ffffff;
}
#Start-button {
  font-size: 30px;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
#Start-button:disabled {
  background-color: #737373;
  color: #666;
}
#Start-button:hover:enabled {
  background-color: #0056b3;
  color: #fff;
}
